@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: all 300ms ease;
  color: #FFF;
}

body {
  background-color: #190024;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #300343;
  width: 100%;
  height: 60px;
  padding: 1rem;
}
nav .logo img {
  height: 35px;
}
nav .nav-menu {
  display: none;
}
nav .nav-menu-btn {
  display: block;
  font-size: 2rem;
}
nav .nav-menu-btn i:hover {
  cursor: pointer;
  color: #FFC436;
}

section {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
section .login-box {
  width: 350px;
  padding: 1rem;
  background-color: #39084e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
section .login-box h2 {
  text-align: center;
  font-size: 2rem;
  color: #FFC436;
}
section .login-box form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
section .login-box form .user, section .login-box form .pass {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section .login-box form .user label, section .login-box form .pass label {
  color: #d8d7d7;
  font-size: 0.8rem;
}
section .login-box form .user input, section .login-box form .pass input {
  padding: 10px;
  color: #222;
}
section .login-box form .pass > div {
  display: flex;
  justify-content: space-between;
}
section .login-box form .pass > div span {
  font-size: 0.8rem;
  color: #ffe19a;
  text-align: end;
}
section .login-box form .pass > div span:hover {
  color: #FFC436;
  cursor: pointer;
}
section .login-box .login-button {
  background-color: #FFC436;
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 25px;
  font-size: 1.2rem;
}
section .login-box .login-button:hover {
  cursor: pointer;
  background-color: #190024;
}
section .login-box p {
  text-align: center;
}
section .login-box p a {
  color: #FFC436;
  text-decoration: none;
}

@media (min-width: 992px) {
  nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  nav .nav-menu .login {
    text-decoration: none;
    color: #FFF;
  }
  nav .nav-menu .login:hover {
    color: #FFC436;
  }
  nav .nav-menu-btn {
    display: none;
  }
  nav .signup {
    text-decoration: none;
    background-color: #FFC436;
    color: #300343;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }
  nav .signup:hover {
    background-color: #ffe19a;
  }
}