@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: all 300ms ease;
  color: #FFF;
}

body {
  background-color: #190024;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 60px auto auto;
  grid-template-areas: "n" "s" "m" "f";
}
.grid nav {
  grid-area: n;
  background-color: #300343;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}
.grid nav .logo {
  color: #FFF;
}
.grid nav .nav-menu {
  display: none;
}
.grid nav .nav-menu-btn {
  display: block;
  font-size: 2rem;
}
.grid section {
  grid-area: s;
  background-color: #39084e;
  padding: 1rem;
}
.grid section .side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.grid section .side-menu .search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.grid section .side-menu .search input {
  height: 30px;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
}
.grid section .up-button {
  display: none;
}
.grid section i {
  font-size: 2rem;
  color: #FFF;
}
.grid section i:hover {
  cursor: pointer;
  color: #FFC436;
}
.grid main .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.grid main .hero h3 {
  font-size: 2rem;
  color: #FFC436;
}
.grid main .hero .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #222;
  padding: 1rem;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid main .hero .intro > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  max-width: 500px;
}
.grid main .hero .intro > div h2 {
  font-size: 3rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4392156863);
}
.grid main .hero .intro > div p {
  font-size: 1.3rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4392156863);
}
.grid main .hero .intro > div .signup {
  font-size: 1.5rem;
}
.grid main .hero .us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
}
.grid main .hero .us .us-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
}
.grid main .hero .us .us-container .us-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
  text-align: center;
}
.grid main .hero .us .us-container .us-col i {
  font-size: 4rem;
}
.grid main .hero .us .us-container .us-col h4 {
  color: #ffe19a;
  font-size: 1.5rem;
}
.grid main .hero .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
  padding: 3rem 1rem;
  background-color: #FFC436;
  border-radius: 20px;
  margin: 1rem;
  margin-bottom: 3rem;
}
.grid main .hero .app h3 {
  color: #39084e;
}
.grid main .hero .app p {
  color: #222;
}
.grid main .gallery {
  grid-area: m;
  background-color: #190024;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 0.5rem;
  background: linear-gradient(45deg, #300343, #190024);
}
.grid main .gallery .card {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #222;
  position: relative;
}
.grid main .gallery .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(0.8);
  transition: all 600ms ease;
}
.grid main .gallery .card .desc {
  width: 100%;
  position: absolute;
  bottom: -100%;
  text-align: center;
  padding: 1rem;
  opacity: 0.8;
  color: #FFF;
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 100%);
  transition: all 300ms ease;
}
.grid main .gallery .card:hover .desc {
  bottom: 0;
}
.grid main .gallery .card:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
.grid main .gallery .wide {
  grid-column: span 2;
}
.grid main .gallery .tall {
  grid-row: span 2;
}
.grid main .gallery .big {
  grid-column: span 2;
  grid-row: span 2;
}
.grid footer {
  grid-area: f;
  background-color: #222;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid footer .footer-grid {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}
.grid footer .footer-grid .footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid footer .footer-grid .footer-col h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.grid footer .footer-grid .footer-col ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  margin-left: 0.5rem;
}
.grid footer .footer-grid .footer-col ul li {
  text-align: center;
}
.grid footer .footer-grid .footer-col ul li:hover {
  color: #FFC436;
  cursor: pointer;
}
.grid .signup {
  text-decoration: none;
  background-color: #FFC436;
  color: #300343;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.grid .signup:hover {
  background-color: #ffe19a;
}

@media (min-width: 576px) and (max-width: 992px) {
  .grid main .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .grid footer .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .grid footer .footer-grid .footer-col {
    display: block;
  }
  .grid footer .footer-grid .footer-col ul {
    display: block;
  }
  .grid footer .footer-grid .footer-col ul li {
    text-align: left;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: 90px auto;
    grid-template-rows: 60px auto 300px;
    grid-template-areas: "n n" "s m" "f f";
  }
  .grid nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .grid nav .nav-menu .login {
    text-decoration: none;
    color: #FFF;
  }
  .grid nav .nav-menu .login:hover {
    color: #FFC436;
  }
  .grid nav .nav-menu-btn {
    display: none;
  }
  .grid main .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .grid main .hero .us .us-container {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid section .side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 110vh;
    position: sticky;
    top: 1rem;
  }
  .grid section .side-menu .search {
    order: 3;
  }
  .grid section .side-menu .search input {
    display: none;
  }
  .grid section .up-button {
    display: block;
    position: sticky;
    top: 90vh;
  }
  .grid footer .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .grid footer .footer-grid .footer-col {
    display: block;
  }
  .grid footer .footer-grid .footer-col ul {
    display: block;
  }
  .grid footer .footer-grid .footer-col ul li {
    text-align: left;
    margin-bottom: 1rem;
  }
}
@keyframes rotar {
  0% {
    transform: rotate(0), scale(1);
  }
  100% {
    transform: rotate(720), scale(1.1);
  }
}